// Import page-specific CSS files here.
@import "home";

section.map {
  height: 300px;
}

.main-content .container {
  position: relative;
  top: -3rem;
}

.background-image {
  width: 100%;
  background-size: cover;
  background-position: center;
}
