<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Simple Airbnb - Oscar</span>
</nav>

<div class="container">
  <h1>Edit information about your flat</h1>
  
  <%= render 'form' %>
</div>