<nav class="navbar navbar-light bg-light">
  <%= link_to('Simple Airbnb - Oscar', flats_path, class: "navbar-brand") %>
</nav>

<div class="container">
  <h1>Your flat</h1>
  
  <%= render 'form' %>
</div>
