<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <a class="btn btn-outline-primary">Add Flat</a>
</nav>

<main>
  <section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4964.830146934008!2d-0.1829071388731061!3d51.5239463601291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761aa8b8a56fab%3A0x81d846cf9d085828!2s10%20Clifton%20Gardens%2C%20Little%20Venice%2C%20London%20W9%201DT%2C%20Reino%20Unido!5e0!3m2!1spt-BR!2sbr!4v1606647479894!5m2!1spt-BR!2sbr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </section>
  <section class="main-content">
    <div class="container ">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="card mb-3">
            <div class="card-body">
              <h1 class="card-title h3 m-0"><%= @flat.name %></h1>
              <h2 class="card-subtitle my-1 h6 text-muted"><%= @flat.address %></h2>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <h2 class="card-title h5 m-0">A bit more about this flat</h1>
              <p class="my-1 text-muted">A lovely summer fell for this flat...</p>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <h2 class="card-title h5 m-0">Details</h2>
              <p class="my-1 text-muted">
                <i class="fas fa-user-friends"></i><span class="ml-1 mr-2"><%= @flat.number_of_guests %></span>
                <i class="fas fa-euro-sign"></i><span class="ml-1 mr-2"><%= @flat.price_per_night %></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card mb-3">
            <div class="card-body bg-white">
              <form>
              <h3>Book this place!</h3>
                <div class="form-group">
                  <div class="input-group mb-2 border-rounded">
                    <div class="input-group-prepend">
                      <div class="input-group-text">From
                      </div>
                    </div>
                  <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="29/11/2020">
                  </div>
                  <div class="form-group mb-2 border-rounded">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">To
                        </div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="29/11/2020">
                    </div>
                  </div>
                  <div class="col-auto my-2">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Book</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body bg-white d-flex justify-content-between">
              <p class="font-weight-bold mb-0">Share</p>
              <span class="mb-0" style="font-size: 20px">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-pinterest-square"></i>
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
